body{
    background-color: #373740;
    color: #FFFFFF;
}

form{
    background-color: #2ECC71;
    width: fit-content;
	height: fit-content;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
      
    padding: 50px;
	margin: auto;
    border-radius: 10px;

    transition: 600ms;

    text-align: center;
    font-family: monospace;
    font-size: 15px;
}

#send{
    background: #2C3E50;
    color: #FFF;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    outline: 0;
    transition: 300ms;
    font-family: monospace;
    font-size: 15px;
}

#send:hover{
    background-color: rgb(255, 255, 255);
    color: #373740;
}

label{
    padding-right: 5px;
}

.box{
    outline: 0;
    border: none;
    width: 60px;
    height: 30px;
    text-align: center;
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    text-align: center;
}